In [9]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.feature_extraction.text import TfidfVectorizer
rg = Ridge()
from sklearn.feature_extraction import DictVectorizer
enc = DictVectorizer()
from scipy.sparse import hstack

In [3]:
train = pd.read_csv("salary-train.csv")
train['FullDescription'] = train['FullDescription'].str.lower().replace("[^a-zA-Z0-9]", " ", regex=True)

In [4]:
train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,NaN,20355

In [5]:
vec = TfidfVectorizer(min_df=5)
X_train_text = vec.fit_transform(train['FullDescription'])

In [6]:
train['LocationNormalized'].fillna('nan', inplace=True)
train['ContractTime'].fillna('nan', inplace=True)

In [7]:
enc = DictVectorizer()
X_train_cat = enc.fit_transform(train[["LocationNormalized", "ContractTime"]].to_dict("records"))

In [11]:
X_train = hstack([X_train_text, X_train_cat])

In [12]:
y_train = train["SalaryNormalized"]
model = Ridge(alpha=1, random_state=241)
model.fit(X_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=241, solver='auto', tol=0.001)

In [13]:
test = pd.read_csv("salary-test-mini.csv")

X_test_text = vec.transform(text_transform(test["FullDescription"]))
X_test_cat = enc.transform(test[["LocationNormalized", "ContractTime"]].to_dict("records"))
X_test = hstack([X_test_text, X_test_cat])

y_test = model.predict(X_test)

NameError: name 'text_transform' is not defined

In [30]:
import pandas as pd
milk = pd.read_csv('milk-production.csv',';', index_col=['month'],
                   parse_dates=['month'], dayfirst=True)

In [15]:
for i in milk:
    print(i)

milk

In [31]:
Y = milk['milk']

In [32]:
milk

            milk
month
1962-01-01   589
1962-02-01   561
1962-03-01   640
1962-04-01   656
1962-05-01   727
...          ...
1975-08-01   858
1975-09-01   817
1975-10-01   827
1975-11-01   797
1975-12-01   843

[168 rows x 1 columns]